languages

node_modules
bundled
zip
pricing-page
/pricing-page
/vendor/

/build
.codegpt
.DS_Store
.agents
playwright
playwright-report
test-results
.vscode
build
tsconfig.json
todo.txt
temp.txt
skills-lock.json
bpluprint.json
composer.lock
fs-config.json
gulpfile.js
package-lock.json
playwright.config.ts
task-runner-config.json
pnpm-lock.yaml
readme.md
